body {
    font-family: Arial, sans-serif;
    color: #c82333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://www.google.com/imgres?q=notes%20background%20image&imgurl=https%3A%2F%2Fst4.depositphotos.com%2F18186852%2F40791%2Fi%2F450%2Fdepositphotos_407914094-stock-photo-bright-colored-sticky-notes-blue.jpg&imgrefurl=https%3A%2F%2Fwww.everypixel.com%2Ftag%2Freminder&docid=UJ4v2sLbgvM-bM&tbnid=2_qWhCyy3sC-DM&vet=12ahUKEwjI8s2y6MqJAxXZ1jQHHaHzMFkQM3oECFIQAA..i&w=600&h=400&hcb=2&ved=2ahUKEwjI8s2y6MqJAxXZ1jQHHaHzMFkQM3oECFIQAA'); /* Replace with your desired image */
    background-size: cover;
    background-repeat:
   no-repeat;
    min-height: 100vh; /* Ensure the background covers the entire viewport   
   */
  }
  
  h1 {
    color: whitesmoke;
    margin: 20px 0;
    text-align: center; /* Center the title */
    font-size: 3em; /* Increase font size for impact */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle text shadow */
  }
  
  a {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease-in-out; 
   /* Smooth hover effect */
  }
  
  a:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
  }
  
  h2, .H2 {
    align-items: center;
    margin: 0 0 10px;
    color: #007bff;
    font-weight: bold; /* Make headings bolder */
  }
  
  p {
    margin: 0 0 10px;
    line-height: 1.5; /* Adjust line spacing for better readability */
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
  }
  
  button {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; 
   /* Smooth hover effect */
  }
  
  button:hover {
    background-color: #c82333;
  }
  
  input, textarea {
    color: #333;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 600px;
    font-size: 16px;
  }
  
  textarea {
    height: 200px;
  }